main{
    display: flex;
    justify-content: center;

    transform: translate3d(0,-10%,0);
}

.box-container {
    width: 85%;

    background: #FFFFFF;
    box-shadow: 0px 15px 25px 15px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.container-foto {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    justify-content: center;
}

/* .img {
    width: 20vw;
    height: 20vw;

    background-image: url("../img/perfil.jpeg");
    background-size: cover;
    transform: translate3d(0,-50%,0);

    border-radius: 50%;
} */

.img {
    display: flex;
    padding: 10px;
    margin: auto;
    background:linear-gradient(130deg, #6c5ce7, #fd79a8);
    background-size: 200% 200%;
    animation: animated-gradient 2s linear infinite;
    transform: translate3d(0,-50%,0);
    border-radius: 50%;

}

@keyframes animated-gradient {
    25%{
        background-position: left bottom;
    }
    50% {
        background-position: right bottom;
    }
    75% {
        background-position: right top;
    }
    100% {
        background-position: left top;
    }
}

.formato-img{
    width: 20vw;
    height: 20vw;

    background-image: url("../img/perfil-11.jpeg");
    background-size: cover;

    border-radius: 50%;
}

.quem-sou p, p{
    /* font-family: 'Montserrat'; */
    color: #415162;
    height: 30%;
    padding: 3.6vw 10vw 5vw;
    font-style: normal;
    font-weight: normal;
    font-size: 1.8vw;
    line-height: 5.6vh;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;
}

.portifolio, .habilidade {
    display: flex;
    justify-content: center;
    padding: 5vw 10vw 7vw;
}